/* http://simonpadbury.com/bootstrap-3-navbar-dropdown-hover/ */

/*
Navbar "hovernav" dropdown menu - this works only for screen sizes larger than phones.
The Bootstrap CSS is unchanged.
*/
@media (min-width: 768px) {
    /*
    .navbar-nav .caret {
        display: none;
    }
    */

    /* Delete the above if you wish to display the caret */
    .navbar-nav .open ul {
        display: none
    }
    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
        color: #555;
        background: none
    }
    .navbar-default .navbar-nav > li:hover {
        background: #e7e7e7
    }
    .navbar-inverse .navbar-nav > .open > a,
    .navbar-inverse .navbar-nav > .open > a:hover,
    .navbar-inverse .navbar-nav > .open > a:focus {
        color: #969696;
        background: none
    }
    .navbar-inverse .navbar-nav > li:hover {
        background: #080808
    }
    .navbar-nav .hovernav:hover > .dropdown-menu {
        display: block;
    }
}